<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Nagma Bardoi - Full Stack Web Developer</title>

    {{!-- CSS Links --}}
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    
    {{!-- JS Links --}}
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/8769d001fb.js" crossorigin="anonymous"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

</head>
<body>

{{!-- Side Nav --}}
<div class="container" id="sidenav">
    <div class="row profile">
		<div class="col-md-3">
			<div class="sidebar">
                <div id="card">
                    <img src="/images/professional-profile.png" class="rounded-circle" alt="image" width="250" height="210">
                <div class="card-body">
                    <h2 class="card-title">Nagma Bardoi</h2>
                    <h3 class="card-title">Full Stack Web Developer</h3>
                </div>
                </div>
		
				<div class="usermenu">
					<ul>
						<a href="#"><h4>Portfolio</h4></a>
                        <a href="#"><h4>Skills</h4></a>
						<a href="#"><h4>CV</h4></a>
					</ul>
				</div>

                <div class="social-buttons" class="row">
                    <div class="column"><a id="getInTouch"><h6>GET IN TOUCH</h6></a></div>
                    <br>
                    <br>
                    <div class="column"><a href="mailto:nagmabardoi@gmail.com" id="socialbtn" class="fas fa-envelope"></a></div>
                    <div class="column"><a href="https://www.github.com/nbardoi" id="socialbtn" class="fab fa-github"></a></div>
                    <div class="column"><a href="https://www.linkedin.com/in/nagma-bardoi" id="socialbtn" class="fab fa-linkedin"></a></div>   
				</div>
			</div>
		</div>
	</div>
</div>

<div class="main">
    
    {{{ body }}}

</div>    

</body>
</html>